@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');

body{
    margin: 0px;
    padding: 0px;
}

.nav{
    display: flex;
    justify-content: space-around;
    padding: 10px 50px;
    background-color: #003566;
}

.nav img{
    width: 60px;
    margin: 0px 50px;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

.nav img:Hover{
    transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
}

.nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    width: 40%;
}

.nav ul li{
    margin: 10px;
    padding: 10px;
    width: 70px;
    height: 32px;
    text-align: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

.nav ul li:hover{
    transform: scale(1.5);
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}

.nav ul li a{
    text-decoration: none;
    color: 	#ffffe7;
    font-size: 30px;
    font-family: 'Just Another Hand', cursive;
}

.vprincipal{
    display: inline-block;
    width: 100%;
    height: 480px;
    background-color: red;
    overflow: hidden;
}

.principal{
    margin-top: -140px;
    background-color: black;
    width: 100%;
    height: auto;
}

.descripcion{
    background-color: #003566;
    color:#ffffe7;
    margin-top: -22px;
    padding: 1px 0px;
}

.descripcion h1{
    font-size: 40px;
    text-align: center;
    font-family: 'Just Another Hand', cursive;
    text-decoration: none;
}

.tittle{
    font-size: 45px;
    text-align: center;
    font-family: 'Just Another Hand', cursive;
}

.opcion{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin: 30px 0px;
}

.opcion img{
    width: 450px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

.opcion img:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.opcion p{
    width: 35%;
    font-size: 20px;
    font-family: 'Arima Madurai', cursive;
}

.plataformas{
    background-color: #001d3d;
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
    align-items: center;
}

.consola{
    text-align: center;
}

.consola img{
    margin: 0px;
}

.consola p{
    font-size: 30px;
    font-family: 'Just Another Hand', cursive;
    color: #ffffe7;
    text-align: center;
    margin: 0px;
}